/*base.css主要用于定义一些通用的样式*/
*{
	margin: 0;
	padding: 0;
	/*去掉点击高亮效果-主要针对移动端*/
	-webkit-tap-highlight-color:transparent;
	/*设置元素宽高计算方式*/
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
/*设置统一的字体*/
body{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
}
a{
	color: #333;
	text-decoration: none;/*去掉下划线*/
}
a:hover{
	text-decoration: none;
}
/*重置input样式*/
input{
	border: none;
	outline: none;/*去掉选中状态下的高亮效果*/
	-webkit-appearance:none;/*清除移动端默认的表单样式*/
}
ul,li{
	list-style-type: none;/*去掉列表样式*/
}

/*当页面中出现布局极其类似，只是位置稍微有些变化的，可以使用组合的样式，进行代码的简写*/
.w_50{
	width: 50%;
	display: block;
}
.w_50>img{
	width: 100%;
	display: block;
}
.f_left{
	float: left;
}
.f_right{
	float:right;
}
.b_left{
	border-left: 1px solid #e0e0e0;
}
.b_right{
	border-right: 1px solid #e0e0e0;
}
.b_bottom{
	border-bottom: 1px solid #e0e0e0;
}
.clear_f{
	overflow: hidden;
}