body{
	width: 100%;
	height: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
section{
	margin-top: 80px;
} 
.flower_rose{
	font-size: 15px;
	font-weight: bold;
	width: 100%;
	margin-top: 5%;
	color: rgb(65,65,65);
}
.flower_rose *{
	display: inline-block;
}
.flower_rose>span{
	width: 47%;
	padding-left: 4%;
}
.flower_rose>a{
	width: 47%;
	text-align: right;
}
.flower{
	text-align: center;
}
.flower a{
	display: inline-block;
	width: 30%;
	font-size: 13.5px;
}
.flower img{
	width: 75%;
	margin-top: 20%;
}
#rose_bear{
	display: block;
	margin: auto;
}
.flower span{
	display: inline-block;
	padding-top: 10%;
}
hr{
	width: 90%;
	margin-left: 5%;
	margin-top: 4%;
	border: 1px solid rgb(219,219,219);
}
.pearl a{
	display: inline-block;
	width: 28%;
	font-size: 13.5px;
}
.pearl img{
	width: 75%;
	margin-top: 20%;
}
.pearl span{
	display: inline-block;
	padding-top: 10%;
	margin-right: 4%;
}
.left{
	text-align: center;
	margin: auto;
}
.left1{
	width: 100%;
	margin-left: 6.5%;
}
.left1>a{
	text-align: center;
}
.left1 span,.left span{
	width: 100%;
	text-align: center;
}
.exclusive_shop{
	margin: 10px 0px;
	margin-bottom: 55px;
}
.exclusive_shop img{
	margin-left: 5%;
	width: 90%;
	margin-top: 5px;
}